h1{font-family: sans-serif;
    margin-left: 20%;
    color:darkslategrey;
	font-size:65px;}
body{font-family:verdana;
    padding:30;
    background-image: url(../LGself_portraitmmp210/gradient.jpg);}
p{font-size:80%;
  text-align: center;}
img {text-align:right; }
ul{color:darksalmon;
text-align: center;}
div {
    width: 300px;
    padding: 10px;
    margin: 5px;
}