h1{font-family: fantasy;
    margin-left: 30%;
    color:darkslategrey;
	font-size:65px;
	text-decoration:underline;}
body{font-family:verdana;
    padding:30;
    background-color:lightgray;}
p{font-size:80%;
  text-align: center;}
img {text-align:center; }
ul{color:darksalmon;
text-align: center;}
div {
    width: 300px;
    border: 2px solid pink;
    padding: 10px;
    margin: 5px;
}